*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header{
  height: 70px;
  background-color: #EC715F;
  /* width: 1024px; */
}

.center {
  width: 1024px;
  /* max-width: 100%; */
  margin: 0 auto;
  height: 70px;
}

header .image {
  height: 70px;
}

header nav {
  float: right;
}

ul {
  list-style: none;
}

.nav-list-item{
  display: inline-block;
  color: #fafafa;
  font-size: 16px;
  padding: 0 30px;
  line-height: 70px;
}

.nav-list a {
  text-decoration: none;
  color: #fafafa;
}

.fa-bars{
  display: none;
}

.main-image {
  background-image: url(img/mv.png);
  background-size: cover;
  background-position: center;
  height: 650px;
}

.main-text {
  font-size: 64px;
  color: #fafafa;
  text-align: center;
  padding-top: 200px;
}

.sub-text {
  font-size: 20px;
  color:#fafafa;
  padding-top: 10px;
  text-align: center;
}

.portfolio {
  background-color: #eceff1;
}

.box {
  margin: 0 auto;
  width: 920px;
  /* max-width: 100%; */
  text-align: center;
}

.title{
  font-size: 32px;
  color: #000000;
  text-align: center;
  padding-top: 90px;
  /* padding-bottom: 8px; */
}

.title::after{
  content: "";
  display: block;
  width: 70px;
  height: 3px;
  background-color: #ec715f;
  margin: 8px auto 0 auto;
}

.text{
  font-size: 16px;
  color: #000000;
  padding: 30px 0;
}

.clearfix::after{
  content: "";
  display: block;
  clear: both;
}

.portfolio-item1{
  background-image: url(img/sketch.jpg);
  width: 300px;
  height: 250px;
  background-position: center;
  background-size: cover;
  float: left;
  margin-bottom: 10px;
  margin-right: 10px;
}

.portfolio-item2{
  background-image: url(img/websuku.png);
  width: 300px;
  height: 250px;
  background-position: center;
  background-size: cover;
  float: left;
  margin-bottom: 10px;
  margin-right: 10px;
}

.portfolio-item3{
  background-image: url(img/write.jpg);
  width: 300px;
  height: 250px;
  background-position: center;
  background-size: cover;
  float: left;
  margin-bottom: 10px;
}

.portfolio-item4{
  background-image: url(img/webcamp.png);
  width: 300px;
  height: 250px;
  background-position: center;
  background-size: cover;
  float: left;
  margin-right: 10px;
}

.portfolio-item5{
  background-image: url(img/talk.jpg);
  width: 300px;
  height: 250px;
  background-position: center;
  background-size: cover;
  float: left;
  margin-right: 10px;
}

.portfolio-item6{
  background-image: url(img/webcamp-mother.png);
  width: 300px;
  height: 250px;
  background-position: center;
  background-size: cover;
  float: left;
}

.items {
  padding-bottom: 90px;

}

.feature{
  width: 980px;
  max-width: 100%;
  text-align: center;
  margin: 0 auto;
}

.fas {
  font-size: 60px;
}

.strength1{
  width: 320px;
  float: left;
  margin-right: 10px;
}

.strength2{
  width: 320px;
  float: left;
  margin-right: 10px;
}

.strength3{
  width: 320px;
  float: left;
}

.strength-title {
  font-size: 20px;
  color: #000;
  margin: 10px 0;
}

.strength-text {
  font-size: 16px;
  color: #000;
  text-align: left;
}

.strength-item {
  padding-bottom: 90px;
}

.profile {
  background-color: #eceff1;
  /* max-width: 100%; */
}

.profile-box {
  width: 1024px;
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 90px;
}

.image-box {
  width: 512px;
  float: left;
}

.profile-image {
  background-image: url(img/my-icon.jpg);
  background-position: center;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  margin: 0 auto;
}

.skill-box {
  float: left;
  width: 512px;
  text-align: left;
}

.profile-name{
  font-size: 20px;
  padding-bottom: 5px;
}

.profile-skill1 {
  padding-bottom: 20px;
  font-size: 16px;
}

.profile-skill {
  font-size: 16px;
  color: #000;

}

.contact-box {
  width: 800px;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 90px;
}

.contact-left {
  width: 400px;
  margin: 0 auto;
  float: left;
}

.contact-left-content {
  width: 130px;
  margin: 0 auto;
  text-align: left;
}

.mail {
  font-size: 20px;
  padding-bottom: 5px;
  /* text-align: left; */
}

.tel{
  font-size: 20px;
  padding-bottom: 5px;
  margin-top: 20px;
}

.apo1{
  /* padding-bottom: 20px; */
  color: #000;
}

.apo{
  color: #000;
}

.contact-right{
  width: 400px;
  margin: 0 auto;
  float: left;
}

.contact-right-content{
  width: 170px;
  margin: 0 auto;
  text-align: left;
}

.fab {
  font-size: 45px;
}

.fa-facebook-f{
  padding-right: 20px;
}

.fa-twitter{
  padding-right: 20px;
}

footer {
  background-color: #ec715f;
  height: 60px;
  text-align: center;
}

footer p{
  font-size: 16px;
  color: #fafafa;
  line-height: 60px;
}



@media screen and (max-width:768px) {


  header {
    height: 50px;
  }

  .center{
    width: 90%;
    margin: 0 auto;
    height: 50px;
  }

  header .image{
    height: 50px;
  }


  nav{
    display: none;
    float: none;
  }

  .fa-bars{
    display: block;
    float: right;
    color: white;
    font-size: 25px;
    border: 1px solid white;
    margin: 5px;
    padding: 6px;
  }


  .main-image{
    background-image: url(img/code.png);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 650px;
  }

  .main-text {
    font-size: 40px;
    padding-top: 200px;
    color: #fafafa;
    width: 90%;
    margin: 0 auto;
  }

  .sub-text{
    font-size: 18px;
    width: 90%;
    margin: 0 auto;
  }

  .box {
    width: 90%;
    margin: 0 auto;
  }

  .portfolio-item1{
    display: none;
  }

  .portfolio-item3{
    display: none;
  }

  .portfolio-item5{
    display: none;
  }

  .portfolio-item2{
    float: none;
    width: 300px;
    height: 250px;
    margin: 0 auto;
    margin-bottom: 10px;
  }

  .portfolio-item4{
    float: none;
    width: 300px;
    height: 250px;
    margin: 0 auto;
    margin-bottom: 10px;
  }

  .portfolio-item6{
    float: none;
    width: 300px;
    height: 250px;
    margin: 0 auto;
  }

  .items{
    margin: 0 auto;
    width: 90%;
    text-align: center;
  }

  .feature-box {
    width: 90%;
    margin: 0 auto;
  }

  .strength1{
    float: none;
    text-align: center;
    margin: 0 auto;
    padding-bottom: 10px;
    /* width: 100%; */
  }

  .strength2{
    float: none;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 10px;
    /* width: 100%; */
  }

  .strength3{
    float: none;
    text-align: center;
    margin: 0 auto;
    /* width: 100%; */
  }

  .strength-item{
    text-align: center;
    margin: 0 auto;
  }

  .profile-box{
    width: 90%;
    margin: 0 auto;
  }

  .image-box{
    float:none;
    margin: 0 auto;
    width: 100%;
  }

  .skill-box{
    float: none;
    margin: 0 auto;
    text-align: center;
    width: 100%;
  }

  .profile-name{
    padding-top: 20px;
  }

  .contact-box{
    width: 90%;
    margin: 0 auto;
  }

  .contact-left{
    float: none;
    margin: 0 auto;
    text-align: center;
  }

  .contact-left-content{
    text-align: center;
  }

  .contact-right{
    float: none;
    margin: 0 auto;
    text-align: center;
  }

  .contact-right-content{
    text-align: center;
    padding-top: 20px;
  }

  .fa-facebook-f{
    padding-right: 0;
  }

  .fa-twitter{
    margin: 0 8px;
    padding-right: 0;
  }






}